<header id="page-header">
  <div id="page-header-inner">
    <h1><%= link_to 'classifieds', root_path %></h1>
    <nav>
      <ul>
        <% if current_user %>
          <li>
            <%= link_to current_user.name, current_user %>
          </li>
          <li>
            <%= link_to 'Sign Out', session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign Up', signup_path %>
          </li>
          <li>
            <%= link_to 'Sign In', new_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
